.businessCustomers {
  margin-top: 100px!important;
}

.businessBot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.businessEmailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.businessEmailButton {
  width: 100px;
  height: 28px;
  border-radius: 6px;
  border-color: 'white';
  border-width: thin;
}

.businessEmailCheck {
  padding-left: 20px;
}

.businessSubmit {
  display: flex;
  border-radius: 5px;
  height: 30px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  cursor: pointer;
  width: 150px;
  margin: 40px auto 40px 20px;
}

.businessSubmit:hover {
  background: #88c040;
  border-color: white!important;
  color: white;
}

.businessSubmit:active {
  background: white;
  border-color: white!important;
  color: black;
}

.businessSubmit p {
  margin: auto;
}
