
.headerContent {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.headerWhiteSpace {
  max-width: 300px;
  flex-basis: 30%;
}

.headerTags{
  flex-basis: 300px;
  display: flex;
  justify-content: space-between;
}

.headerTags a {
  color: black;
  text-decoration: none;
}

.headerChild {
  margin: auto 0 auto 0;
}

.headerContainer {
  display: flex;
  height: 70px;
  width: 100%;
  max-width: 100%;
  background-color: white;
}

#geia-green-logo {
  height: 50px;
}

/* Admin page */

.usertitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
}

.businessTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
  justify-content: space-between;
  margin-left: 20px;
}

#orgid {
  width: 10px;
}

/* end of admin page */
